.battle-board {
  margin: 25px 0px;
  display: none;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;

  img {
    margin: 20px 5px;
    height: 200px;
  }
}

#start {
  margin: 20px auto;
  width: 50%;
}

.attack-hold {
  display: none;
}

#turn-name {
  display: none;
}

.turn-alert {
  display: none;
}

.fail {
  margin-top: 24px;
  display: none;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  text-align: center;
}

.turn-alert {
  margin-top: 25px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
